footer {
  width: 100%;  
  background-color: #0b2a37;
}

.footer-wrap {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  padding: 75px 0 75px 85px;
  margin: 0 auto;
}

.footer-social {
  flex: 3;
}

.footer-social > div {
  display: flex;
  align-items: center;
  margin-top: 33px;
}

.footer-social > div > img {
  height: max-content;
  margin-right: 8px;
}

.footer-social h6 {
  font-family: 'Maven Pro-Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin: 0 8px 0 0;
}

.footer-social__text {
  font-family: 'Maven Pro-Regular', sans-serif;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

.footer-list {
  position: relative;
  flex: 1;
}


.footer-list > ul {
  list-style: none;
  padding: 0;
}

.footer-list > ul > li > a {
  color: #ffffff;
  opacity: 0.8;
  font-weight: 400;
  line-height: 30px;
}

.footer-list > h6 {
  color: #ffffff;
  font-family: 'Maven Pro-Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 25px 43px 0;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {
  
  .footer-wrap {
    padding: 75px 0 100px 15px;
    flex-direction: column-reverse;
  }

  .footer-social {
    align-self: center;
    margin: 40px;
  }

  .footer-list {
    margin: 30px;
  }

  .footer-list > h6 {
    margin: 0 25px 15px 0;
}
  
}

@media (min-width: 768px) and (max-width: 1023px) {

  .footer-wrap {
    padding: 75px 0 100px 40px;
  }
  
  .footer-social {
    margin-right: 30px;
  }

  .footer-list {
    flex: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .footer-list {
    flex: 2;
  }
}

