.global-nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  z-index: 100;
}

#scrollLogo {
  display: none;
}

#scrollMenuIcon {
  display: none;
}

.global-nav__logo {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 17px 29px;
}

.global-nav__logo > img {
  display: block;
  height: 60px;
  margin: auto 22px auto 0;
}

.global-nav__btn {
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 16px;
  opacity: 0.9;
  padding: 0 12px 0 12px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 700;  
  border: 2px solid #ffffff;
  border-radius: 6px;
  margin: auto 4px auto 4px;
  height: 40px;
}

.global-nav__menu {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
  position: relative;
}

.global-nav__item {
  font-family: 'Maven Pro-Regular', sans-serif;  
  font-size: 16px;
  font-weight: 400;
  margin: 35px 20px 0 20px;
  align-self: baseline;
}

.global-nav__item > img {
  display: inline-block;
  margin: 0 5px;
  transform: translateY(20%);
}

.global-nav__link {
  color: #ffffff;
}

.global-nav__submenu {
  opacity: 0;
  position: absolute;
  top: 70%;
}

.submenu-scrolled {
  background-color: white;
  border: 1px solid #ffffff;    
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 30%;
}

.global-nav__item:hover > .global-nav__submenu{
  opacity: 1;
  transition: all .5s ease;
}

.global-nav__subitem {
  margin: 10px 0;
}

.global-nav__sublink {
  color: #ffffff;
  padding: 10px;
}

.sublink-scrolled {
  color: #0b2a37;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {
  
  .global-nav {
    height: 50px;
    justify-content: flex-start;
  }

  .global-nav__logo {    
    padding: 0 0 0 10px;
  }

  .global-nav__logo > img {
    height: 30px;
    margin: auto 10px auto 0;
  }

  .global-nav__btn {
    font-size: 12px;
    width: 80px;
    height: 35px; 
  }

  .global-nav__item {
    margin: 5px 5px 0 5px;   
    width: 70px;
    align-self: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1439px) {

}