.page-header {
  display: flex;
  justify-content: center;
  width: 100%;  
  position: fixed;
  z-index: 100;
  background-color: transparent;
  box-shadow: none;
}

.page-header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.global-nav {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  z-index: 100;
  max-width: 1440px;
  min-width: 480px;
}

.global-nav__logo {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 17px 29px;
}

.logo {
  height: 60px;
  margin: auto 22px auto 0;
}

.logo:nth-child(1) {
  display: block;
}

.logo:nth-child(1).scrolled {
  display: none;
}

.logo:nth-child(2) {
  display: none;
}

.logo:nth-child(2).scrolled {
  display: block;
}

.global-nav__btn {
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 16px;
  opacity: 0.9;
  padding: 0 12px 0 12px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 700;  
  border: 2px solid #ffffff;
  border-radius: 6px;
  margin: auto 4px auto 4px;
  height: 40px;
}

.global-nav__btn.scrolled {
  color: #004d80;
  border: 2px solid #005173;
}

.header-btn {
  display: block;
}

.header-btn.scrolled {
  display: none;
}

.global-nav__menu {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
  position: relative;
}

.global-nav__item {
  font-family: 'Maven Pro-Regular', sans-serif;  
  font-size: 16px;
  font-weight: 400;
  margin: 35px 20px 0 20px;
  align-self: baseline;
}

.global-nav__item:nth-child(3)::before {
  content: url(../assets/images/hamburger-menu-icon-white.png);
}

.global-nav__item:nth-child(3).scrolled::before {
  content: url(../assets/images/hamburger-menu-icon.png);
}

.global-nav__link {
  color: #ffffff;
}

.global-nav__link.scrolled {
  color: #0b2a37;
}

.global-nav__submenu {
  opacity: 0;
  position: absolute;
  top: 70%;
}

.global-nav__submenu.scrolled {
  background-color: white;
  border: 1px solid #ffffff;    
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 30%;
}

.global-nav__item:hover > .global-nav__submenu{
  opacity: 1;
  transition: all .5s ease;
}

.global-nav__subitem {
  margin: 10px 0;
}

.global-nav__sublink {
  color: #ffffff;
  padding: 10px;
}

.global-nav__sublink.scrolled {
  color: #0b2a37;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {

  .global-nav {
    height: 70px;
    justify-content: flex-start;
  }

  .global-nav__logo {    
    padding: 0 0 0 10px;
  }

  .logo {
    height: 50px;
    margin: 10px 10px auto 0;
  }

  .global-nav__btn {
    font-size: 15px;
    width: 150px;
    height: 35px;
    padding: 5px; 
  }

  .global-nav__item {
    margin: auto 5px;  
    width: 75px;
    align-self: baseline;
  }

  .global-nav__item:nth-child(1), .global-nav__item:nth-child(2) {
    display: none;
  }

  .header-btn {
    display: none !important;
  }

  .global-nav__submenu.scrolled {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .global-nav__item {
    margin: auto 5px;   
    width: 80px;
    align-self: baseline;
  }

  .global-nav__link {
    font-size: 18px;
  }

  .global-nav__item:nth-child(1), .global-nav__item:nth-child(2) {
    display: none;
  }

}