.how-it-works {
  display: block;
  width: 100%;
}

.how-it-works > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.works-plan {
  display: flex;
  align-items: stretch;
  background-color: #66cfcf;
  margin-top: -205px;
  position: relative;
}

.works-plan > div {
  align-self: center;
}

.works-plan > div:first-child {
  width: 45%;
}

.works-plan > div > h2 {
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 80px;
  color: #ffffff;
  font-weight: 400;
  line-height: 100px;
  margin: 182px 0 0 50px;
}

.works-plan > div > button {
  margin: 60px 0 180px 59px;
  padding: 20px 50px 40px 50px;
  font-size: 18px;
}

.works-plan h6 {
  margin: 10px;
  color: #ffffff;
  font-family: 'Maven Pro-Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.step-first__text,
.step-second__text,
.step-third__text,
.step-fourth__text {
  margin: 10px;
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.step-first h6,
.step-second h6,
.step-third h6,
.step-fourth h6 {
  position: relative;
}

.step-first,
.step-third {
  text-align: left;
  position: relative;
  margin-left: 25%;
  margin-bottom: 10%;
  padding-right: 40%;
}

.step-third {
  margin-bottom: 8%;
}

.step-second,
.step-fourth {
  text-align: right;
  position: relative;
  margin: 8% 25% 5% auto;
  padding-left: 40%;
}

.step-first > img,
.step-third > img {
  position: absolute;
  right: 1%;
  top: 0;
}

.step-second > img {
  position: absolute;
  left: 1%;
  top: 12%;
}

.step-first h6:before {
  content: url(../assets/images/search.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30%;
}

.step-second h6:after {
  content: url('../assets/images/arrow-mini.png');
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
}

.step-third h6:before {
  content: url('../assets/images/time.png');
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
}

.step-fourth h6:after {
  content: url('../assets/images/dol.png');
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {
  .works-plan {
    margin-top: -70px;
    flex-direction: column;
    justify-content: center;
  }

  .works-plan > div > h2 {
    margin: 10px;
    font-size: 30px;
    line-height: normal;
  }

  .works-plan > div {
    text-align: center;
    margin-bottom: 15px;
  }

  .works-plan > div > .global-nav__btn {
    margin: 10px 0;
    font-size: 12px;
    padding: 5px;
    width: 180px;
  }

  .works-plan h6 {
    font-size: 16px;
  }

  .step-first,
  .step-third {
    margin-bottom: 5%;
  }

  .step-third {
    margin-bottom: 0%;
  }
  
  .step-second,
  .step-fourth {
    margin: 5% 25% 2% auto;
  }

  .step-first > img,
  .step-second > img,
  .step-third > img {
    width: 35%;
  }

  .step-first > img,
  .step-third > img {
    right: 1%;
    top: 10%;
  }

  .step-first, .step-third {
    padding-right: 25%;
  }

  .step-second, .step-fourth {
    padding-left: 25%;
  }

  .step-first__text, .step-second__text, .step-third__text, .step-fourth__text {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .works-plan {
    margin-top: -70px;
    flex-direction: column;
    justify-content: center;
  }

  .works-plan > div:first-child {
    width: 100%;
    margin-bottom: 30px;
  }

  .works-plan > div > h2 {
    margin: 60px 20px 20px 20px;
  }

  .works-plan > div {
    text-align: center;
    margin-bottom: 15px;
  }

  .works-plan > div > .global-nav__btn {
    margin: 10px 0;
  }

  .step-first > img,
  .step-second > img,
  .step-third > img {
    width: 40%;
  }

  .step-first > img,
  .step-third > img {
    right: 3%;
    top: 10%;
  }

  .step-second > img {
    left: 3%;
    top: 10%;
  }

  .step-third {
    margin-bottom: 10%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  

  .works-plan > div > h2 {
    margin: 60px 20px 20px 20px;
    font-size: 60px;
  }

  .steps {
    margin-top: 20px;
  }

  .step-first__text, .step-second_.step-first__text, .step-third_.step-first__text, .step-fourth_.step-first__text {
    margin: 5px;
  }

  .step-first > img,
  .step-second > img,
  .step-third > img {
    width: 50%;
  }

  .step-first > img,
  .step-third > img {
    right: 3%;
    top: 15%;
  }

  .step-second > img {
    left: 3%;
    top: 10%;
  }

  .step-third {
    margin-bottom: 15%;
  }

  .step-second > h6::after,
  .step-fourth > h6::after {
    right: -40%;
  }

  .step-first > h6::before,
  .step-third > h6::before {
    left: -40%;
  }
}



