@import './global-nav.css';
@import './slider.css';
@import './search-top.css';
@import './specialists.css';
@import './how-it-works.css';
@import './recalls.css';
@import './preferences.css';
@import './call-us.css';
@import './footer.css';


@font-face {
  font-family: "Maven Pro-Black";
  src: url("../assets/fonts/MavenPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Bold";
  src: url("../assets/fonts/MavenPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Medium";
  src: url("../assets/fonts/MavenPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Regular";
  src: url("../assets/fonts/MavenPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Maven Pro-Regular', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, ul, ol, p{
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

button:focus{
  outline: none;
}

.wrapper {
  max-width: 1440px;
  min-width: 480px;
  width: 100%;
  margin: 0 auto;
}