.our-preferences {
  display: block;
  width: 100%;
}

.our-preferences-banner {
  background: url(../assets/images/672092928.png) center;
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}

.preference {  
  background-color: #005173;
  width: 100%;
  position: relative;
}

.preference-wrap {
  display: flex;
  align-items: stretch;;
  margin-top: -200px;
  max-width: 1440px;
  margin: 0 auto;
}

.preference-wrap h2 {
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  color: #ffffff;
}

.preference-wrap > div {
  flex: 1;
  align-self: center;
}

.preference-items {
  list-style: none;
  margin: 9% 7% 9% 7%;
  flex: 1;
  align-self: center;
}

.preference-items > ul {
  width: 80%;
}

.preference-item {
  margin-top: 46px;
  position: relative;
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.preference-item:before {
  content: '';
  position: absolute;
  border-top: 2px solid #8ae2e2;
  height: 1px;
  width: 50px;
  top: -10px;
  left: 0;
}

.preference-btn.scrolled {
  margin-top: 60px;
  padding: 22px 55px 40px 55px;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 18px;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.preference-img {
  background: url('../assets/images/logo-shape.png') no-repeat;
  background-size: cover;
  position: absolute;
  width: 25%;
  height: 40%;
  bottom: 0;
  right: 0;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {

  .preference-wrap {
    margin-top: -70px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .preference-items {
    margin: 2% 7% 9% 7%;
  }

  .preference-items > ul {
    width: 100%;
}

  .preference-wrap > div {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .preference-wrap > div > h2 {
    text-align: center;
    font-size: 55px;
  }

  .preference-btn.scrolled {
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 70%;
    font-family: 'Maven Pro-Regular', sans-serif;
    font-weight: 400;
    align-self: center;
  }

  .preference-img {
    height: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .preference-wrap {
    margin-top: -70px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .preference-items {
    margin: 2% 7% 9% 7%;
  }

  .preference-items > ul {
    width: 100%;
}

  .preference-wrap > div {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .preference-wrap > div > h2 {
    margin-top: 30px;
    text-align: center;
  }

  .preference-btn.scrolled {
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 40%;
    font-family: 'Maven Pro-Regular', sans-serif;
    font-weight: 400;
    align-self: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .preference-btn.scrolled {
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 70%;
    font-family: 'Maven Pro-Regular', sans-serif;
    font-weight: 400;
    align-self: center;
  }

  .preference-img {
    width: 30%;
    height: 30%;
  }
}