.recalls {
  display: block;
  width: 100%;
  margin-bottom: 95px;
}

.recalls-banner {
  background: url(../assets/images/537819918.png) center;
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}

.recalls-title {
  margin-top: -200px;
  background-color: #ffffff;
  position: relative;
}

.recalls-title > h4 {
  padding-top: 50px;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #0b2a37;
  line-height: 100px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.recalls-items {
  display: grid;
  padding: 0 40px;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 67px;
  grid-row-gap: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.recalls-item__text {
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #0b2a37;
  background-color: #eff7f7;
  background-size: 100% 100%;
  padding: 40px 25px 55px 22px;
  margin: 0;
  position: relative;
}

.recalls-item__text::after {  
  content: "";
  position: absolute;
  right: 0;
  bottom: -25px;
  border-width: 25px 0 0 30px;
  border-style: solid;
  color: #fff;
  border-color: #eff7f7;
  border-left-color: inherit;  
}

.recalls-item__profile {
  text-align: right;
  position: relative;
  margin: 20px 0 0 0;
}

.recalls-item__profile > p {
  margin: 0 20% 0 0;
}

.recalls-item__profile > img {
  position: absolute;
  right: 5%;
  top: 0;
}

.profile-name {
  color: #0b2a37;
  font-weight: 700;
  line-height: 26px;
  font-family: 'Maven Pro-Black', sans-serif;;
}

.profile-career {
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0b2a37;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {
  .recalls {
    margin-bottom: 60px;
  }

  .recalls-title {
    margin-top: -70px;
  }

  .recalls-title > h4 {
    padding-top: 20px;
    font-size: 22px;
    line-height: normal;
    margin: 0 0 20px;
  }

  .recalls-items {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin: 0;
  }

  .recalls-item__text {
    padding: 10px 10px 25px 10px;
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
  }

  .profile > p {
    margin: 0 35% 0 0;
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recalls {
    margin-bottom: 50px;
  }

  .recalls-title {
    margin-top: -70px;
}

  .recalls-title > h4 {
    padding-top: 25px;
  }

  .recalls-items {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .recalls-item__text {
    padding: 20px 20px 40px 20px;
    font-size: 14px;
  }

  .profile > p {
    margin: 0 35% 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .recalls-title {
    margin-top: -70px;
  }

  .recalls-item__profile > p {
    margin: 0 30% 0 0;
  }
}