.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  line-height: 0;
}

.slider-item {
  top: 100%;
  width: 100%;
  height: 80vh;  
}

.slider-item:nth-child(1) {
  background: url(../assets/images/o6xii90.png) center;
  background-size: cover;
}

.slider-item:nth-child(2) {
  background: url(../assets/images/o6xof60.png) center;
  background-size: cover;
}

.slider-item:nth-child(3) {
  background: url(../assets/images/o6i4jl0.png) center;
  background-size: cover;
}

.slider-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #173153;
  opacity: 0.4;
}

.slider-description {
  max-width: 1440px;
  margin: 200px auto;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 10;
  text-align: center;
}

.slider-description > h2 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #8ae2e2;
  margin: 0;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
}

.slider-description > h3 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 100px;
  margin: 0;
}

.slider-description > h5 {
  color: #ffffff;
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 0;
  margin-bottom: 40px;
}

.slider-link {
  color: #8ae2e2;
  font-family: 'Maven Pro-Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.slider-btn__find {
  padding: 25px 50px 25px 49px;
  background-color: #ff5151;
  color: #ffffff;
  font-family: 'Maven Pro-Bold', sans-serif;
  font-size: 18px;
  border-radius: 6px;
}

.slider-btn__call {
  position: absolute;
  bottom: -50%;
  right: 1%;
  display: none;
}

.slider-btn__call.scrolled {
  display: block;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.hide {
  display: none;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {

  .slider-container {
    width: 100%;
  }

  .slider-description {
    top: 50px;
  }

  .slider-description > h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 55px;
  }
  
  .slider-description > h3 {    
    font-size: 20px;
    line-height: 35px;
  }
  
  .slider-description > h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .slider-btn__find {
    padding: 7px;
    font-family: 'Maven Pro-Bold', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  #sliderBtn {
    display: block !important;
    top: 85%;
    width: 120px;
    font-size: 10px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .slider-description {
    top: 100px;
  }

  .slider-description > h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 55px;
  }
  
  .slider-description > h3 {    
    font-size: 20px;
    line-height: 35px;
  }
  
  .slider-description > h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 10px;
  }

  #sliderBtn {
    top: 85%;
  }

}

@media (min-width: 1024px) and (max-width: 1439px) {

  .slider-description {
    top: 100px;
  }

  .slider-description > h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
  }
  
  .slider-description > h3 {    
    font-size: 30px;
    line-height: 35px;
  }
  
  .slider-description > h5 {
    font-size: 25px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 25px;
  }
}

