.specialists {
  width: 100%;
  text-align: center;
  padding: 70px 40px 140px 40px;
}

.specialists-title {
  width: 100%;
  color: #0b2a37;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100px;
}

.specialists-items {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  margin-top: 50px;
}

.specialists-items__title {
  font-family: 'Maven Pro-Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #0b2a37;
  margin: 20px;
}

.specialists-items__description{
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #0b2a37;
  margin: 0 20px;
  text-align: center;
}


/* Media Queries */


@media (min-width: 480px) and (max-width: 767px) {

  .specialists {
    padding: 40px 40px 140px 40px;
  }
  
  .specialists-title {
    font-size: 22px;
    line-height: normal;
    margin: 0 0 20px;
    font-weight: 400;
  }

  .specialists-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }

  .specialists-logo:nth-child(1), .specialists-logo:nth-child(2), .specialists-items__title:nth-child(5), .specialists-items__title:nth-child(6), .specialists-items__description:nth-child(9), .specialists-items__description:nth-child(10)  {
    order: 1;
  }

  .specialists-logo:nth-child(3), .specialists-logo:nth-child(4), .specialists-items__title:nth-child(7), .specialists-items__title:nth-child(8), .specialists-items__description:nth-child(11), .specialists-items__description:nth-child(12)  {
    order: 2;
  }

  .specialists-items__title {
    margin: 15px;
  }

  .specialists-items__description {
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .specialists {
    padding: 40px 40px 140px 40px;
  }
}